<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weylan.blog.mapper.EssayDetailMapper" >
  <resultMap id="BaseResultMap" type="com.weylan.blog.entity.EssayDetail" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="essay_detail" property="essayDetail" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>