<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weylan.blog.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.weylan.blog.entity.User" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_avatar" property="userAvatar" jdbcType="VARCHAR" />
    <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="user_alias" property="userAlias" jdbcType="VARCHAR" />
    <result column="user_wx_open_id" property="userWxOpenId" jdbcType="VARCHAR" />
    <result column="user_essay_count" property="userEssayCount" jdbcType="INTEGER" />
    <result column="user_photo_count" property="userPhotoCount" jdbcType="INTEGER" />
    <result column="user_status" property="userStatus" jdbcType="INTEGER" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="contry" property="contry" jdbcType="VARCHAR" />
  </resultMap>
</mapper>